<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MBLDTrackerDB" connectionString="Data Source=ROWE\MSSQLSERVER01;Initial Catalog=MBLDTrackerDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;"/>
		<add name="MBLDDB" connectionString="Data Source=.\MBLDDB.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>